body{
  margin: 0%;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

:root{
  --title-font-family: 'Hedvig Letters Serif', serif;
  --btn-color:green;
  --image-outline-color: green;
  --title-color: #E90064;
  --small-text-color: red;
  --boxShadow: 0px 0px 6px 3px rgba(177, 177, 177, 0.159);
}
