.home__welcome{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('img/Bouquet.png');
    background-position:calc(90%);
    background-repeat: no-repeat;
    background-size: 500px;
    background-color: rgba(195, 195, 195, 0.1);
    margin-bottom: 40px;
}
.home__introduction{
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(6%, -50%);
}
.home__pageName{
    font-size: 6rem;
    font-family: 'Lilita One', sans-serif;
    color: var(--title-color);


}
.home__h3{
    max-width: 45ch;
}
.home__slogan{
    color: var(--small-text-color);
    font-weight: bold;
    font-family: var(--title-font-family);
    padding: 10px;

}

.home__title{
    margin: 50px 0px 50px 0px;
    font-family: var(--title-font-family);
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    
}

.home__description{
    font-size: x-large;
    max-width: 80ch;
    text-align: center;
    margin: auto;
    padding: 0% 9%;
}

.home__img2{
    height: 350px;
}

.home__paragraphs{
    max-width: 60ch !important;
}

.home__discount{
    padding: 0% 9%;
}
.home__discountCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home__phrase{
    padding: 0% !important;
    height: 80vh;
    background-image: url('https://png.pngtree.com/background/20210710/original/pngtree-small-fresh-background-floral-background-2018-background-picture-image_1015934.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}

.home__p{
    max-width: 60%;
    text-align: center;
    color: black;
    padding: 80px 50px;
    outline: 8px solid;
    outline-color: pink;
    background-color: rgba(255, 255, 255, 0.402);
}

.home__p h1{
    font-weight: bold;
    color: var(--title-color);
    text-transform: uppercase;    
    font-family: 'Lilita One', sans-serif;

}

.home__gallery{
    padding: 0% 9%;
}
.home__galleryDiv{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.home__galleryImg{
    outline: 2px solid;
    outline-color: var(--image-outline-color);
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}

@media screen and (max-width:1440px){

    .home__pageName{
        font-size: 5rem;
    }

    .home__h3{
        font-size: x-large;
    }

    .home__description{
        font-size: larger;

    }
}

@media screen and (max-width:1300px){
    .home__welcome{
        background-size: 400px;
    }
    .home__pageName{
        font-size: 4rem;
    }

    .home__h3{
        font-size: 1.4rem;
    }
    .home__h3{
        max-width: 40ch;
    }
}

@media screen and (max-width:1040px){
    .home__welcome{
        background-image: none;
    }

    .home__introduction{
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0% 9%;
    }
    .home__h3{
        margin: auto;
        text-align: center;
    }

    .home__p{
        max-width: 80%;
    }

    .home__galleryImg{
        height: 300px;
        width: 300px;
    }
}


@media screen and (max-width:914px){

    .home__pageName{
        font-size: 3rem;
    }

    .home__h3{
        font-size: 1.3rem;
        max-width: 40ch;

    }
    .home__description{
        font-size: large;

    }
    .home__title{
        font-size: 40px;
    }
}

@media screen and (max-width: 810px){
    .home__galleryImg{
        height: 230px;
        width: 230px;
    }
    
}
@media screen and (max-width:600px){
    .home__h3{
        max-width: 30ch;

    }

    .home__slogan{
        font-size: large;
    }

    .home__description{
        font-size:medium;

    }

    .home__p h3{
        font-size: larger;
    }
    .home__p h1{
        font-size: x-large;
    }

    .home__galleryImg{
        height: 190px;
        width: 190px;
    }
}


@media screen and (max-width:500px){

    .home__pageName{
        font-size: 2.5rem;
    }

    .home__h3{
        font-size: 1.2rem;

    }

    .home__slogan{
        max-width: 30ch;
        margin: auto;
    }
    .home__title{
        font-size: 35px;
    }

    .home__p{
        padding: 60px 30px;

    }

    .home__galleryImg{
        height: 150px;
        width: 150px;
    }
}
