.flowers{
    display: flex;
    justify-content: space-between;
    margin-top: 9rem;
    padding: 0% 9%;
    
}

.flowers__container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position:absolute;
    right: 0;
    padding: 0% 9% 0% 0% ;
    margin-top: 1.3rem;

}

.flowers__filter{
    position: fixed;

}
.card {
    width: 280px;
    height: 330px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    cursor: pointer;
    box-shadow: var(--boxShadow);
    border-color: transparent;
    border-radius: 0px;
}

.card__img{
    height: 200px !important;
    width: 200px;
    transform: translate(0,-30px);
    outline: 2px solid;
    outline-color: var(--image-outline-color);
}

.card__content{
    padding: 0px 42px;
    width: 100%;
    color: black;
    margin-top: -1rem;

}

.card__title{
    text-transform: capitalize;
    font-weight: bold;
    font-size: larger;
    
}

.card__price, .card__discount{
    margin: 0;
}

.card__discount{
    color: var(--small-text-color);
    font-weight: bold;

}

.card__icons{
    width: 200px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    height: 60px;
    transform: translate(0px, -43px);
    align-items: center;
    box-shadow: var(--boxShadow);
    background-color: white;
    cursor: default;
    margin: auto;
}

.card__icons h5{
    margin: 0;
}

.card__icon{
    cursor: pointer !important;
}