.footer{
    bottom: 0 !important;
    background-color: rgba(195, 195, 195, 0.1);
    height: 60vh;
    display: flex;
    justify-content: space-between;
    padding: 0% 9%;
    align-items: center;
    margin-top: 3rem;
}

.footer__title{
    color:var(--title-color) ;
    text-transform: uppercase;
}

.footer__container p{
    margin: 0px;
    font-size:medium;
    text-transform: capitalize;
}

@media screen and (max-width:610px){
    .footer{
        flex-direction: column;
        align-items: self-start;
        justify-content: center;
    }

    .footer__container{
        margin-bottom: 10px;
    }
    .footer__title{
        font-size: large;
    }
    .footer__container p{
        font-size: small;
    }

}