
.filters__title{
    color: var(--title-color);
    font-size:xx-large;
    font-family: 'Hedvig Letters Serif', serif;
}

.filters__container li{
    list-style: none;
    color: black !important;
    font-size:larger;
    width: min-content;
    cursor: pointer;
    margin-left: 10px;

}

.filters__inputsBox{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.filters__input{
    width: 150px !important;
}

.filters__btn{
    color:black !important;
    border-color: gray !important;
}

.filters__con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
