
.filters__title{
    color: #E90064;
    font-weight: 550;
}

.filters__container li{
    list-style: none;
    color: black !important;
    font-size:larger;
    width: min-content;
    cursor: pointer;
    margin-left: 10px;

}

.filters__inputsBox{
    display: flex;
    border-color: green;
    margin-bottom: 10px;
    flex-direction: column;
}

.filters__input{
    width: 150px !important;
}

.filters__btn{
    color:black !important;
    border-color: gray !important;
}

.filters__con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
