.header{
    display: flex;
    padding: 1% 9%;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 6px 3px rgba(128, 128, 128, 0.159);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.header__logo{
    height: 65px;
}

.header-form__content{
    margin: 0px 10px;
    flex-grow: 2;
    text-align: center;
}

.header-form__content__input{
    width: 90%;
    height: 40px;
    border-color: rgba(176, 173, 173, 0.303);
    border-radius: 20px;
    
}
.header-form__content__btn{
    transform: translate(-30px,-2px);
    height: 40px;
    border-color: rgba(176, 173, 173, 0.303);
    border-radius: 0px 20px 20px;

}

.header__icon{
    margin: 0px;
    cursor: pointer;
    margin: 0px 1rem;
}

.nav{
    display: none;
}

@media screen  and (max-width:1100px){
    .header__nav{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        height: fit-content !important;

    }
}