.header{
    display: flex;
    padding: 20px 9%;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    outline: 0.5px solid;
    outline-color: rgba(225, 225, 225, 0.445);
    height: 100px;
}
.header__logo{
    height: 65px;
    margin: 5px;
}

.header-form__content{
    margin: 0px 10px;
    text-align: center;
    flex-grow: 1;
}

.header-form__content__input{
    width: 90%;
    height: 40px;
    border-color: rgba(176, 173, 173, 0.303);
    border-radius: 20px;
    padding: 0px 20px;
    outline-color: green;
    
}
.header-form__content__btn{
    transform: translate(-40px,-2px);
    height: 40px;
    background-color: transparent;
    border-color: transparent;

}

.header__icon{
    cursor: pointer;
    height: 1.9rem;
    width: 1.9rem;
    margin: 5px;

}

.header__links {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.5;
    font-family: var(--title-font-family);
    align-items: center;
    margin-right: 20px;
}

.header__links a {
    flex: 0 0 auto !important;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in;
}


.header__links a:hover{
    font-size: 17px;
    color: var(--title-color) !important;
    transition: all 0.2s ease-in;
}

@media screen and (max-width: 1030px){
    .header-form__content{
        display: none;
    }
    .header__links{
        margin: 0;
        flex-grow: 1;
        justify-content: space-around;
    }
    
}

@media screen and (max-width: 500px){
    .header__links{
        font-size: small;
    }

    .header__logo{
        height: 35px;
    }

    .header__icon{
        height: 25px !important;
    }

    
    .header__links a:hover{
        font-size: 15px;
    }
    
}

@media screen and (max-width: 420px){

    .header__icon{
        height: 20px !important;
    }
    
}