.header{
    display: flex;
    padding: 1% 9%;
    align-items: center;
    background-color: white;
    box-shadow: var(--boxShadow);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
}
.header__logo{
    height: 65px;
}

.header-form__content{
    margin: 0px 10px;
    text-align: center;
    flex-grow: 1;
}

.header-form__content__input{
    width: 90%;
    height: 40px;
    border-color: rgba(176, 173, 173, 0.303);
    border-radius: 20px;
    
}
.header-form__content__btn{
    transform: translate(-30px,-2px);
    height: 40px;
    border-color: rgba(176, 173, 173, 0.303);
    border-radius: 0px 20px 20px;

}

.header__icon{
    margin: 0px;
    cursor: pointer;
    margin: 0px 1rem;
}

.header__links{
    display: flex;
    justify-content: space-around;
    flex-grow: 0.5;
    font-family: var(--title-font-family);
}
.header__links a{
    transition: all 0.2s ease-in;
}
.header__links a:hover{
    font-size: 17px;
    color: red !important;
    transition: all 0.2s ease-in;
}