.contacts__background{
    height: 60vh;
    background-image: url('https://png.pngtree.com/background/20210709/original/pngtree-pink-flower-plant-floral-background-picture-image_280966.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}


.contacts__pageTitle{
    font-family: 'Lilita One', sans-serif;
    color: var(--title-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 6rem;
    margin-top: 5rem;
}

.contacts__information{
    padding: 0% 9%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 40vh;
    align-items: center;
}

.contacts__title{
    font-family: var(--title-font-family);
    text-transform: uppercase;
}

.contacts__phrases{
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
    padding: 0% 9%;
}

.contacts__phrases  p{
    font-size: x-large;
}

.contacts__phrases h3{
    color: var(--title-color);
}
.contacts__form{
    padding: 0% 9%;

}
.contacts__form-group{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: auto;
}

.contacts__label{
    font-family: var(--title-font-family);
    text-transform: capitalize;
    font-size: larger;
    margin: 2rem 0px 0px 0px;
}
.contacts__btn{
    width: 100%;
    background-color: var(--btn-color);
    border-color: transparent;
    margin-top: 2rem;
    color: white;
}
.contacts__input{
    outline-color: var(--title-color);
}
.contacts__message{
    height: 200px;
    outline-color: var(--title-color);

}

.contacts__errorMsg{
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 32px;
    border-radius: 2px;
}


.contacts__errorMsg-error{
    background-color: rgba(255, 0, 0, 0.742);

}

.contacts__errorMsg-success{
    background-color:green;

}

@media screen and (max-width:1440px){
    .contacts__pageTitle{
        font-size: 5rem;
    }

    .contacts__phrases p{
        font-size: larger;
    }
}

@media screen and (max-width:1300px){
    .contacts__pageTitle{
        font-size: 4rem;
    }
    .contacts__title{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:914px){
    .contacts__pageTitle{
        font-size: 3rem;
    }
    .contacts__information{
        margin-top: 4rem;
        flex-direction: column;
        justify-content: space-around;
    }
    .contacts__phrases p{
        font-size: large;
    }
}

@media screen and (max-width:600px){

    .contacts__phrases p{
        font-size: medium;
    }
    .contacts__phrases h3{
        font-size: larger;
    }

    .contacts__form-group{
        width: 100%;

    }
}


@media screen and (max-width:500px){
    .contacts__pageTitle{
        font-size: 2.5rem;
    }


}

